{% from enums.Template.INPUT import input with context %}
{% from enums.Template.CHECKBOX import checkbox with context %}
{% from enums.Template.SELECT import select with context %}
{% from enums.Template.MODAL import modal with context %}
{% from enums.Template.BUTTON import button with context %}
{% from enums.Template.NAVBAR import navbar with context %}
{% from enums.Template.BREADCRUMB import breadcrumb with context %}

<!DOCTYPE html>
<html>
	<head>
		{%- block head %}
		    {%- block metas %}
		        <meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
		    {%- endblock metas %}
			<title>
		        {% block title %}
		        {{title|default}}
		        {% endblock title %}
		    </title>
			{%- block styles %}
				<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
				<!-- library -->
				<link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-4.5.3/css/bootstrap.min.css') }}" />  
			    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/css/all.css') }}" />
				<!-- end library -->
				<!-- common -->
				<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/variable.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
				<!-- end common -->
				<!-- Component -->
				
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/input.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/checkbox.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/button.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/select.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/modal.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}" />
				<link rel="stylesheet" href="{{ url_for('static', filename='css/components/breadcrumb.css') }}" />
				<!-- End component -->
				
				<link rel="stylesheet" href="{{ url_for('static', filename='css/screens/layout.css') }}" />

			{%- endblock styles %}
		{%- endblock head %}
	</head>
	
	<body class='body d-flex flex-column'>
		<div class="loading" id ='overlay_loader'>&#8230;</div>
		<div id='overlay'></div>
		{% block navbar_block %}
			{% set data = {
				'user_name': ctrl_obj.user_name,
				'home_link': enums.Route.INDEX,
				'logo_link': url_for('static', filename='images/svi_logo.png'),
				'signout_link': enums.Route.LOGOUT } %}
			{{ navbar(data) }}
			
		{%- endblock navbar_block %}
		{% block breadcrumb_block %}
		{%- endblock breadcrumb_block %}
		<div class='custom-container flex-grow-1'>
			<div class='option-block'>
				{% block option %} 
				{% endblock option %}
			</div>
			<div class='content'>
				{% block content %} 
				{% endblock content %}
			</div>
		</div>
		
		{% block scripts %}
			<!-- Font Awesome JS -->
			<script src="{{url_for('static', filename='js/enum.js')}}"></script>
			<script src="{{url_for('static', filename='vendors/fontawesome/js/solid.js')}}" ></script>
			<script src="{{url_for('static', filename='vendors/fontawesome/js/fontawesome.js')}}"></script>
			<script src="{{url_for('static', filename='vendors/jquery/jquery-3.1.1.js')}}"></script>
			<script src="{{url_for('static', filename='vendors/jquery/jquery-3.1.1.slim.min.js')}}"></script>
			<script src="{{url_for('static', filename='vendors/poper/popper-1.14.0.min.js')}}"></script>
			<script src="{{url_for('static', filename='vendors/bootstrap-4.5.3/js/bootstrap.min.js')}}"></script>

			<script src="{{url_for('static', filename='js/common.js')}}"></script>
	    {%- endblock scripts %}
	</body>

</html>