
{% macro breadcrumb(data) %}
  {% set items = data['items'] %}
  {% set home_link = data['home_link'] %}
  {#
  <!-- 
    data = {
        'items': [
          (href, display_name, is_active),
          (href, display_name, is_active)
        ],
        'home_link': '#',

    }
  -->
  #}
  <div class='custom-breadcrumb'>
    <ol class="custom-container d-flex justify-content-start align-items-center">
      <li class="custom-breadcrumb-item"><a href="{{home_link}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      {% for item in items %}
        {% set href, display_name, is_active = item %}
        {% if is_active %}
          <li class="custom-breadcrumb-item active">
            <span>{{display_name}}</span>
          </li>
        {% else %}
          <li class="custom-breadcrumb-item">
            {{button({
              'type': 'link',
              'text': display_name,
              'href': href
              })
            }}
          </li>
        {% endif %}
      {%	endfor %}
    </ol>
  </div>
{% endmacro %}