{% macro checkbox(data) %}
    {% set text = data.text %}
    {% set class = data.class %}
    {% set id = data.id %}
    {% set value = data.value %}
    {% set is_disable = data.is_disable %}
    {% set is_readonly = data.is_readonly %}
    {% set attrs = data.attrs %}
    {#
    <!-- 
    data = {
        'text': '', 
        'class': 'custom-checkbox',
        'id': '',
        'value': '',
        'attrs': [(name1, value1), (name1, value2), ],
        'is_readonly': True,
        'is_disable': False

    }
    -->
    #}
    <input class='{% if class %}{{class}}{% else %}custom-checkbox{% endif %}' value='{{value}}' type='checkbox'
    {% if is_disable %}disabled{% endif %} {% if is_readonly %}readonly{% endif %} {% if id %}id="{{id}}"}{% endif %}
    {% if attrs %}
        {% for attr in attrs %}
            {% set attr_name, attr_value = attr %}
            {{attr_name}} = '{{attr_value}}'
        {% endfor %}
    {% endif %}
    >
    {% if text %}<label class="" {% if id %}for="{{id}}"}{% endif %} >{{text}}</label>{% endif %}
    
{% endmacro %}