{% macro input(data) %}
    {% set type = data['type'] %}
    {% set class = data['class'] %}
    {% set value = data['value'] %}
    {% set is_disable = data['is_disable'] %}
    {% set is_readonly = data['is_readonly'] %}
    {% set data_attr = data['data_attr'] %}
    {#
    <!-- 
    data = {
        'type': 'text', 'textarea', 
        'class': 'custom-textarea'
        'value': ''
        'data_attr': [(name1, value1), (name1, value2), ]
        'is_readonly': True
        'is_disable': False

    }
    -->
    #}
    {% if type == 'textarea' %}
        <textarea class='{% if class %}{{class}}{% else %}custom-textarea{% endif %}' value='{{value}}'
        {% if is_disable %}disabled{% endif %} {% if is_readonly %}readonly{% endif %}
        {% if data_attr %}
            {% for attr in data_attr %}
                {% set attr_name, attr_value = attr %}
                data-{{attr_name}} = '{{attr_value}}'
            {% endfor %}
        {% endif %}
        >{{value}}</textarea>
    {% else %}
        <input class='{% if class %}{{class}}{% else %}custom-input{% endif %}' value='{{value}}' type='{{type}}'
        {% if is_disable %}disabled{% endif %} {% if is_readonly %}readonly{% endif %}
        {% if data_attr %}
            {% for attr in data_attr %}
                {% set attr_name, attr_value = attr %}
                data-{{attr_name}} = '{{attr_value}}'
            {% endfor %}
        {% endif %}
        >
    {% endif %}
{% endmacro %}