{% extends "screens/layout/layout.html" %}
{% block sidebar %}
	{% set active_sidebar = 'home' %}
	{% with active_sidebar=active_sidebar  , ctrl_obj = ctrl_obj%}
		{% include "components/sidebar/sidebar.html" %}
	{% endwith %}
{% endblock sidebar %}
{% block breadcrumb %}
	{% set br_items = [('/home', 'Home', True)] %}
	{% with br_items=br_items %}
		{% include "components/breadcrumb/breadcrumb.html" %}
	{% endwith %}
{% endblock breadcrumb %}

{% block main %}
<style>
	.conflict {
		
		border: 1px solid red;
		border-radius: 5px;
		background-color: red;
		color: white;
		padding: 5px 10px;
	}
	.no-conflict {
		
		border: 1px solid green;
		border-radius: 5px;
		background-color: green;
		color: white;
		padding: 5px 10px;
	}
	td {
		padding: 5px;
	}
</style>
<div class='table-content'>
	<table width='100%'>

			<tr>
			  <td><i class="far fa-check-circle"></i></td>
		      <td>Sheet 1</td>
			  <td>
				<lable class='conflict'>20-03</lable>
				<lable class='no-conflict'>20-03</lable>
				<lable class='conflict'>20-03</lable>
				<lable class='conflict'>20-03</lable>
				<lable class='conflict'>20-03</lable>
			</td>
			  
			  
		    </tr>
			<tr>
			  <td><i class="far fa-check-circle"></i></td>
		      <td>Sheet 1</td>
			  <td>
				<lable class='conflict'>20-03</lable>
				<lable class='no-conflict'>20-03</lable>
				<lable class='conflict'>20-03</lable>
				<lable class='conflict'>20-03</lable>
				<lable class='conflict'>20-03</lable>
			</td>
			  
			  
		    </tr>
	
	  </tbody>
	  
	</table>
</div>
{% endblock main%}