.custom-container {
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95vw;
}
table tr {
  border: 1px solid var(--table-border) !important;
}

table th {
  padding: 0.5rem !important;
  background-color: var(--table-th-bg) !important;
  color: var(--table-th-text) !important;
  font-weight: bold;
  border: 1px solid var(--table-border) !important;
}

table td {
  padding: 0.5rem  !important;
  background-color: var(--table-td-bg) !important;
  color: var(--table-td-text) !important;
  border: 1px solid var(--table-border) !important;
}

.h-0 {
  height: 0;
}
.top-0 {
  top: 0;  
}
.custom-w-0 {
  width: 0%;
}
.custom-w-5 {
  width: 5%;
}
.custom-w-10 {
  width: 10%;
}
.custom-w-15 {
  width: 15%;
}
.custom-w-20 {
  width: 20%;
}
.custom-w-25 {
  width: 25%;
}
.custom-w-30 {
  width: 30%;
}
.custom-w-35 {
  width: 35%;
}
.custom-w-40 {
  width: 40%;
}
.custom-w-45 {
  width: 45%;
}
.custom-w-50 {
  width: 50%;
}
.custom-w-55 {
  width: 55%;
}
.custom-w-60 {
  width: 60%;
}
.custom-w-65 {
  width: 65%;
}
.custom-w-70 {
  width: 70%;
}
.custom-w-75 {
  width: 75%;
}
.custom-w-80 {
  width: 80%;
}
.custom-w-85 {
  width: 85%;
}
.custom-w-90 {
  width: 90%;
}
.custom-w-95 {
  width: 95%;
}
.custom-w-100 {
  width: 100%;
}



































/* loading popup style */
.loading {
	display: none;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;

  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */


@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* end loading popup */

/* overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
/* end overlay */
