.add {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--status-added) !important;
}

.delete {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--status-deleted)  !important;
}

.modified {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--status-modified)  !important;
}