<nav aria-label="breadcrumb " class='w-100-pc'>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{route.INDEX}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <!-- b_item = (href, display_name, is_active) -->
    {% for b_item in br_items %}
    	{% if b_item[2] %}
    		<li class="breadcrumb-item active"><a aria-current="page">{{b_item[1]}}</a></li>
    	{% else %}
    		<li class="breadcrumb-item"><a href="{{b_item[0]}}">{{b_item[1]}}</a></li>
    	{% endif %}
    {%	endfor %}

  </ol>
</nav>