<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
    <!-- reset and custom css -->
    

</head>
<style>
    .container-500 {
        margin: 60px auto;
        max-width: 90%;
        padding: 0px 15px;
        text-align: center;
    }

    .text-title {
        font-weight: bolder;
        font-size: 6rem;
    }

    .main-content {
        text-align: center;
    }

    .main {
        font-size: 3rem;
        color: #454745;
    }

    .content {
        font-size: 1rem;
        margin-top: 1rem;

    }
</style>


<body>
    <div class="container-500">
        <p class="text-title">500</p>
        <p class="main">Internal Server Error</p>
        <p class="content">The server encountered an internal error and was unable to complete your request.</p>
    </div>

</body>

</html>