{% extends enums.Template.LAYOUT %}
{% block title %}
	Analyze
{% endblock title %}

{% set unuse = ctrl_obj.get_setting() %}
{% set all_settings = ctrl_obj.all_settings %}
{% set analyze_info = ctrl_obj.get_analyze_result() %}
{% set href_prefix = enums.Route.LOAD_FILE + '?' + enums.MethodKeys.PATH + '=' + ctrl_obj.working_path + '/' + enums.StructureKeys.PARSE_FOLDER + '/' %}
{% set des_name = analyze_info['result']['data']['des_name'] %}

{% set des_duplicate_count = analyze_info['result']['data']['des_duplicate_count'] %}
{% set des_skip_count = analyze_info['result']['data']['des_skip_count'] %}
{% set des_parse_count = analyze_info['result']['data']['des_parse_count'] %}
{% set src_duplicate_count = analyze_info['result']['data']['src_duplicate_count'] %}
{% set src_skip_count = analyze_info['result']['data']['src_skip_count'] %}
{% set src_parse_count = analyze_info['result']['data']['src_parse_count'] %}


{% set src_name = analyze_info['result']['data']['src_name'] %}
{% set des_id = analyze_info['result']['data']['des_id'] %}
{% set src_id = analyze_info['result']['data']['src_id'] %}
{% set group_id = ctrl_obj.methods[enums.MethodKeys.GROUP_INDEX] %}
{% set group_config = all_settings[enums.ConfigKeys.GROUPS][group_id | int] %}
{% block option %}
 	{{button({
		'type': 'button',
		'text': 'Add To "' + des_name + '"',
		'class': 'custom-button add-to-smartsheet d-inline-block',
		'href': '#',
		'attrs': [('data-src-id', src_id), 
				('data-des-id', des_id),
				('data-group-id', group_id)]
		})
	}}
	
{% endblock option %}

{% block breadcrumb_block %}
	{% set data = {
		'items_data': [
			(enums.Route.ANALYZE, src_name + ' vs ' + des_name, True)
		],
		'home_link':  enums.Route.INDEX
	}
	%}
	{{ breadcrumb(data) }}
{% endblock breadcrumb_block %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('static', filename='js/screens/analyze.js')}}"></script>
{% endblock scripts %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/screens/analyze.css') }}" />
{% endblock styles %}



{% block content %}
	<table class="table table-striped table-bordered position-relative" cellspacing="0" width='100%'>
	  <thead class="custom-position-sticky">
	    <tr>
			<th class="custom-w-3 center-text" rowspan='2'>{{checkbox({
				'value': "",
				'class': 'custom-checkbox all-checkbox',
				'attrs': [('data-target', 'tbody')],
				'text': '',
				'id': '',
				})
			}}
			</th>
				
			{% for header in group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.COMPARE_HEADERS] %}
				<th rowspan='2' class='center-text'>{{header}}</th>
			{% endfor %}

			<th colspan='{{ 1 + group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.MODIFIED_HEADERS] | length }}' class='center-text'>{{src_name}}
				{% if src_parse_count %}
					{{button({
						'type': 'link',
						'text': "parse(" + src_parse_count | string + ')',
						'class': 'custom-link  d-inline-block text-success',
						'href': href_prefix + src_id | string + '_parse_rows.html',
						'attrs': [('target', '_blank')]
						})
					}}
				{% endif %}
				{% if src_skip_count %}
					{{button({
						'type': 'link',
						'text': "skip(" + src_skip_count | string + ')',
						'class': 'custom-link  d-inline-block text-blue',
						'href': href_prefix + src_id | string + '_skip_rows.html',
						'attrs': [('target', '_blank')]
						})
					}}
				{% endif %}
				{% if src_duplicate_count %}
					{{button({
						'type': 'link',
						'text': "duplicate(" + src_duplicate_count | string + ')',
						'class': 'custom-link  d-inline-block text-danger',
						'href': href_prefix + src_id | string + '_duplicate_rows.html',
						'attrs': [('target', '_blank')]
						})
					}}
				{% endif %}
			</th>
			<th colspan='{{ 1 + group_config[enums.ConfigKeys.DESTINATION][enums.ConfigKeys.MODIFIED_HEADERS] | length }}' class='center-text'>{{des_name}}
				{% if des_parse_count %}
					{{button({
						'type': 'link',
						'text': "parse(" + des_parse_count | string + ')',
						'class': 'custom-link  d-inline-block text-success',
						'href': href_prefix + des_id | string + '_parse_rows.html',
						'attrs': [('target', '_blank')]
						})
					}}
				{% endif %}
				{% if des_skip_count %}
					{{button({
						'type': 'link',
						'text': "skip(" + des_skip_count | string + ')',
						'class': 'custom-link  d-inline-block text-blue',
						'href': href_prefix + des_id | string + '_skip_rows.html',
						'attrs': [('target', '_blank')]
						})
					}}
				{% endif %}
				{% if des_duplicate_count %}
					{{button({
						'type': 'link',
						'text': "duplicate(" + des_duplicate_count | string + ')',
						'class': 'custom-link  d-inline-block text-danger',
						'href': href_prefix + des_id | string + '_duplicate_rows.html',
						'attrs': [('target', '_blank')]
						})
					}}
				{% endif %}
			</th>	
			<th rowspan='2' class='center-text'>Status<i class="fa fa-info-circle text-danger" aria-hidden="true" data-placement="left"
				data-toggle="tooltip" data-html="true" title="New: Only exist in {{src_name}}.<br>Misisng: Only exist in {{des_name}}.<br>Modified: Some columns are different between 2 sheet.<br>"
				></i></th>
			<th rowspan='2' class='center-text'>Detail</th>
	    </tr>
		<tr>
			<th  class='center-text'>Attachments</th>
			{% for header in group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.MODIFIED_HEADERS] %}
				<th  class='center-text'>{{header}}</th>
			{% endfor %}
			<th  class='center-text'>Attachments</th>
			{% for header in group_config[enums.ConfigKeys.DESTINATION][enums.ConfigKeys.MODIFIED_HEADERS] %}
				<th  class='center-text'>{{header}}</th>
			{% endfor %}
			
	    </tr>
	  </thead>
	  <tbody>
			{% for status in [enums.DataKeys.NEW, enums.DataKeys.MODIFIED, enums.DataKeys.MISSING] %}
		  		{% if status in analyze_info['result']['data'] %}
		  	
				{% for index_compare in analyze_info['result']['data'][status] %}
					{% set row = analyze_info['result']['data'][status][index_compare] %}
					{% set compare_key = row[0] %}
					{% set src_data = row[1] %}
					{% set des_data = row[2] %}
					{% set data = src_data %}
					{% set headers = group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.COMPARE_HEADERS] %}
					{% set data_type_cfg = group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.DATA_TYPE] %}
					{% if status == enums.DataKeys.MISSING %}
						{% set data = des_data %}
						{% set headers = group_config[enums.ConfigKeys.DESTINATION][enums.ConfigKeys.COMPARE_HEADERS] %}
						{% set data_type_cfg = group_config[enums.ConfigKeys.DESTINATION][enums.ConfigKeys.DATA_TYPE] %}
					{% endif %}
					<tr>
						{% if status == enums.DataKeys.MISSING %}
							<td></td>
						{% else %}
							<td class="center-text">
								{{checkbox({
									'value': index_compare,
									'class': 'custom-checkbox',
									'text': '',
									'attrs': [('data-status', status), ('data-index', index_compare)]
									})
								}}
							</td>
						{% endif %}
						{% for header in headers %}
							{% set header = utils.convert_text(header) %}
							{% set value = utils.convert_data_type(data[header]['value'], data_type_cfg[header] )%}
							<td>{{value}}</td>
						{% endfor %}
						<!-- src -->
						<td><span class=''>{{src_data['attachments_name'] | join('<br>')  | safe }}</span></td>
						{% for header in group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.MODIFIED_HEADERS] %}
							{% set header = utils.convert_text(header) %}
							{% if src_data %}
								{% set value = utils.convert_data_type(src_data[header]['value'], group_config[enums.ConfigKeys.SOURCE][enums.ConfigKeys.DATA_TYPE][header] )%}
								<td  class=''>{{value}}</td>
							{% else %}
								<td  class=''></td>
							{% endif %}
						{% endfor %}

						<!-- des -->
						<td><span class=''>{{des_data['attachments_name'] | join('<br>') | safe }}</span></td>
						{% for header in group_config[enums.ConfigKeys.DESTINATION][enums.ConfigKeys.MODIFIED_HEADERS] %}
							{% set header = utils.convert_text(header) %}
							{% if des_data %}
								{% set value = utils.convert_data_type(des_data[header]['value'], group_config[enums.ConfigKeys.DESTINATION][enums.ConfigKeys.DATA_TYPE][header] )%}
								<td  class=''>{{value}}</td>
							{% else %}
								<td  class=''></td>
							{% endif %}
						{% endfor %}

						<td><span class='{{status}}'>{{status}}</span></td>
						<td class='center-text'>
							{{button({
								'type': 'link',
								'text': '<i class="fa fa-info-circle" aria-hidden="true"></i>',
								'class': 'custom-link  d-inline-block text-blue view-detail ',
								'href': '#',
								'attrs': [('data-src-id', src_id),
								('data-des-id', des_id),
								('data-group-id', group_id),
								('data-compare-id', index_compare)]
								})
							}}
							
					</tr>
				{% endfor %}
			{% endif %}
		  {% endfor %}
		

	  </tbody>
	  
	</table>
{% endblock content%}