{% extends enums.Template.LAYOUT %}
{% block title %}
	Home
{% endblock title %}

{% block breadcrumb_block %}
	{% set data = {
		'items_data': [
			(enums.Route.ANALYZE, 'Analyze', True)
		],
		'home_link':  enums.Route.INDEX
	}
	%}
	{{ breadcrumb(data) }}
{% endblock breadcrumb_block %}

{% block scripts %}
	{{super()}}
	<script src="{{url_for('static', filename='js/screens/analyze.js')}}"></script>
{% endblock scripts %}

{% set unuse = ctrl_obj.get_setting() %}
{% set all_settings = ctrl_obj.all_settings %}
{% block option %}
	{{button({
		'type': 'button',
		'text': "Add To Smartsheet",
		'class': 'custom-button',
		})
	}}
	{{button({
		'type': 'link',
		'text': "Add To Smartsheet Link",
		'class': 'custom-button',
        'href': enums.Route.PREVIEW
		})
	}}
{% endblock option %}

{% block content %}
	<table class="table table-striped table-bordered position-relative" cellspacing="0" width='100%'>
	  <thead class="position-sticky top-0">
	    <tr>
		  <th class="custom-w-5">#
	      </th>
		  <th class="custom-w-5">{{checkbox({
			'value': "",
			'class': 'custom-checkbox all-checkbox',
			'attrs': [('data-target', 'tbody')],
			'text': '',
			'id': '1',
			})
		}}
			</th>
	      <th class="custom-w-5">Row
	      </th>
		  <th class="custom-w-10">Invoice No
	      </th>
		  <th class="custom-w-10">Pay Date
	      </th>
		  <th class="">Description
		  </th>
          <th class="custom-w-5">Status
        </th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for src_sheet in all_settings['src_sheets'] %}
			<tr>
				<td class="">{{loop.index}}
				</td>
				<td class="">{{checkbox({
					'value': "",
					'class': 'custom-checkbox',
					'text': '',
					'id': loop.index,
					})
				}}
				</td>
				<td class="">{{loop.index}}
				</td>
				<td class="">{{loop.index}}
				</td>
				<td class="">---
				</td>
				<td class="">---
				</td>
                <td class="">---
				</td>
			</tr>
		  {% endfor %}
		

	  </tbody>
	  
	</table>
{% endblock content%}