<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
    <!-- reset and custom css -->
    

</head>
<style>
    .container-404 {
        margin: 60px auto;
        max-width: 90%;
        padding: 0px 15px;
        text-align: center;
    }

    .text-title {
        font-weight: bolder;
        font-size: 6rem;
    }

    .main-content {
        text-align: center;
    }

    .main {
        font-size: 3rem;
        color: #454745;
    }

    .content {
        font-size: 1rem;
        margin-top: 1rem;

    }
</style>


<body>
    <div class="container-404">
        <p class="text-title">404</p>
        <p class="main">Page not found</p>
        <p class="content">The page you are looking for doesn't exist or an other error occured.</p>
    </div>
</body>

</html>